.app-toolbar {
  position: fixed;
  width: 100%;
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}

.wrapper {
  /*height:100%;*/   /*you need to comment this height*/
  margin:60px;
  min-height:100%;
  padding-bottom:-30px;
  width:985px;
  position: relative;  /*and you need to add this */
}

.contentMargin {
  margin-top: 60px;
}

.example-spacer {
  flex: 1 1 auto;
}
