<div [ngClass]="isLarge == true ? 'large-margin': ''" class="mat-app-background">
        <ais-instantsearch
                    [config]="{
                        apiKey: '6a279064ee8ee83c68baa78bc0e83dbd',
                        appId: 'HJN7F66MDX',
                        indexName: 'pathfinderFeats',
                        routing: true
                    }">
        <mat-sidenav-container>
            <mat-sidenav #sidenav [mode]="sidenavMode" [(opened)]="opened" style="width: 250px; position: fixed; margin-top: 112px;" opened>
                <div class="padDiv1">
                    <app-sort-by [indicesArray]="[{name: 'pathfinderFeats', label: 'Relevance'}]"></app-sort-by>
                    <h3>Select Level(s)</h3>
                    <app-refinement-list [attribute]="'level'" [sortBy]="[]" [limit]="12"></app-refinement-list>
                </div>
            </mat-sidenav>
            <mat-sidenav-content [ngClass]="isLarge == false ? 'thinscreen-toolbar': ''">
                <mat-toolbar *ngIf="!isLarge" style="position: fixed; z-index: 1000; width: 100%;" color="primary">
                    <mat-toolbar-row>
                        <button mat-icon-button onclick="this.blur()" (click)="sidenav.toggle()">
                            <mat-icon>
                                filter_list
                            </mat-icon>
                        </button>
                    </mat-toolbar-row>
                </mat-toolbar>
                <div [ngClass]="isLarge == false ? 'small-margin': ''" style="position: fixed; z-index: 1000; width: 100%;">
                    <ais-search-box></ais-search-box>
                </div>
                <br>
                <br>
                <br>
                <div [ngClass]="isLarge == false ? 'small-margin': 'sideMargin'">
                    <ais-infinite-hits>
                        <ng-template let-hits="hits" let-results="results" let-refine="showMore">
                            <div *ngIf="hits.length === 0">
                                No results found matching <strong>{{results.query}}</strong>.
                            </div>   
                            <div>
                                <mat-accordion class="example-headers-align">
                                    <div *ngFor="let hit of hits" class="content">
                                        <div *ngIf="isLarge">
                                            <ng-container *ngTemplateOutlet="widescreenSearchContent;context:{hit: hit}"></ng-container> <!--WideScrren Template Fills Here-->
                                        </div>
                                        <div *ngIf="!isLarge">
                                            <ng-container *ngTemplateOutlet="thinscreenSearchContent;context:{hit: hit}"></ng-container> <!--ThinScrren Template Fills Here-->
                                        </div>
                                    </div>
                                </mat-accordion>
                            </div>
                            <div class="showMore-button">
                                <button *ngIf="hits.length >= 20" mat-raised-button (click)="refine($event)">
                                    Show more
                                </button>
                            </div> 
                        </ng-template>
                    </ais-infinite-hits>
                </div>
            </mat-sidenav-content>
        </mat-sidenav-container>
    </ais-instantsearch>
</div>


<ng-template #widescreenSearchContent let-hit="hit">
    <mat-expansion-panel>
        <mat-expansion-panel-header onclick="this.blur()">
            <mat-panel-title class="mat-panel-title">
                <ais-highlight attribute="name" [hit]="hit"></ais-highlight>
            </mat-panel-title>
            <mat-panel-description>
                Level: {{hit.level}}
            </mat-panel-description>
        </mat-expansion-panel-header>
        <br>
        <mat-chip-list>
            <mat-chip *ngFor="let trait of hit.traits" disableRipple>{{trait}}</mat-chip>
        </mat-chip-list>
        <br>
        <div class="large-text"><strong>Prerequisites: </strong>{{hit.prerequisites}}</div>
        <div class="large-text"><strong>Description: </strong><ais-highlight attribute="text" [hit]="hit"></ais-highlight></div>
        <br>
        <p>{{hit.source}}</p>
        </mat-expansion-panel>
        <br>
</ng-template>

<ng-template #thinscreenSearchContent let-hit="hit">
    <mat-card>
        <mat-card-title>
            <ais-highlight attribute="name" [hit]="hit"></ais-highlight>
        </mat-card-title>
        <br>
        <div><strong>Prerequisites: </strong>{{hit.prerequisites}}</div>
        <br>
        <mat-accordion class="example-headers-align">
            <mat-expansion-panel>
                <mat-expansion-panel-header onclick="this.blur()">
                    <mat-panel-title class="mat-panel-title">
                        Description
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="large-text"><ais-highlight attribute="text" [hit]="hit"></ais-highlight></div>
                <br>
            </mat-expansion-panel>
        </mat-accordion>
        <br>
        <mat-card-footer class="padFooter">
            <mat-chip-list>
                <mat-chip *ngFor="let trait of hit.traits">{{trait}}</mat-chip>
            </mat-chip-list>
        </mat-card-footer>
        <p>{{hit.source}}</p>
    </mat-card>
    <br>
</ng-template>